assets/img/design_projects/infinite[[:space:]]grid[[:space:]]stool/fabrication.mov filter=lfs diff=lfs merge=lfs -text
assets/img/design_projects/MAS600/IMG_1903.psd filter=lfs diff=lfs merge=lfs -text
assets/img/design_projects/critter/IMG_0188.MOV filter=lfs diff=lfs merge=lfs -text
assets/img/design_projects/infinite[[:space:]]grid[[:space:]]stool/IMG_4624.MOV filter=lfs diff=lfs merge=lfs -text
